.center{
    text-align: center;
}
.carousel-inner > .carousel-item > img {
    height: 40%;
    width: auto;
  }

p{
    margin-left: 20%;
    margin-right: 20%;
}

.bit{
    margin-left: 30px;
}

.inline{
    display: block;
}
.d-flex{
    gap: 2%;
}

.dropdown{
    margin-left: -50px;
}
.flex{
    margin-left: 1%;
    display: flex;
    justify-content: space-between;
}

.half{
    width: 50%;
}
.down{
    margin-top: 10%;
}
.card-text{
    justify-self: unset;
}